* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #9c835f;
  font-size: 36px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
}

p {
  font-size: 72px;
  color: #724c21;
}

#logo {
  width: 72px;
  height: 72px;
}

h1 {
  font: 700;
  color: #f9b23d;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  border: 1px solid red;
}

.player {
  border: 1px solid red;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  display: flex;
  width: 1.5rem;
  margin: 60px;
}

.pilihan {
  cursor: pointer;
  position: relative;
}

.pilihan:hover,
.active {
  background: #c4c4c4;
  border-radius: 30px;
  transition: 100ms;
  transform: scale(1.1);
}

.mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  width: 30%;
  border: 1px solid red;
}

h3 {
  font-size: 144px;
  color: #bd0000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid red;
}

#restart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* .hasil-game {
  background-color: green;
  border: 1px solid green;
  color: white;
  text-align: center;
  padding: 20px;
  transform: rotate(-15deg);
} */

.com {
  border: 1px solid red;
}

h2 {
  text-align: center;
}
